
@{
    ViewData["Title"] = "Index";
}

<div>
    <a asp-controller="UserDetails" asp-action="UserDetailsEntry">AddUserDetails Entry</a>
</div>
<div>
    <a asp-controller="UserDetails" asp-action="UserDelete">Delete user Entry</a>
</div>

